Repository yellow-seed/dotfiles: changes, and which Codecov flags are due for each by the changed paths.
All: macos, ubuntu, common

codecov.yml:

# Codecov configuration file
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
        base: auto
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto

  # Define coverage measurement targets
  # We focus on shell scripts in install/ and scripts/ directories
  precision: 2
  round: down
  range: "50...100"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - exclude files that don't need coverage
ignore:
  - "home/**"           # Configuration files
  - "tests/**"          # Test files themselves
  - ".github/**"        # GitHub Actions workflows
  - "**/*.md"           # Documentation files
  - "setup.sh"          # Entry point script

# Flags for different environments
flags:
  macos:
    paths:
      - install/macos/
      - scripts/macos/
  ubuntu:
    paths:
      - install/ubuntu/
      - scripts/ubuntu/
  common:
    paths:
      - install/common/
      - scripts/run_unit_test_common.sh

test: ensure DRY_RUN in macos bats
  install/macos/01-brew.bats
  install/macos/02-brewfile.bats
  install/macos/03-profile.bats
  install/macos/brew-dump-explicit.bats
  install/macos/setup.bats
Due: macos

fix: pass environment variables correctly in BATS tests
  install/macos/01-brew.bats
  install/macos/02-brewfile.bats
  install/macos/03-profile.bats
  install/macos/setup.bats
Due: macos

Delete shellcheck.bats
  tests/files/shellcheck.bats
Due: none

Update ci-macos.yml
  .github/workflows/ci-macos.yml
Due: none

feat: simplify setup.sh and split chezmoi
  install/common/chezmoi.bats
  install/common/chezmoi.sh
  install/macos/setup.sh
  install/ubuntu/setup.sh
  setup.sh
  tests/files/setup.bats
Due: macos, ubuntu, common

feat: add Windows chezmoi setup script
  README.md
  install/common/chezmoi.bats
  install/common/chezmoi.sh
  install/macos/setup.sh
  install/ubuntu/setup.sh
  install/windows/setup.ps1
  setup.sh
  tests/files/setup.bats
Due: macos, ubuntu, common

chore: rename Windows chezmoi script
  README.md
  install/windows/chezmoi.ps1
Due: none

Update ci-ubuntu.yml
  .github/workflows/ci-ubuntu.yml
Due: none

feat: update Windows setup scripts
  .github/workflows/ci-windows.yml
  AGENTS.md
  README.md
  install/windows/01-winget.Tests.ps1
  install/windows/01-winget.ps1
  install/windows/02-dev-tools.Tests.ps1
  install/windows/02-dev-tools.ps1
  install/windows/03-packages.Tests.ps1
  install/windows/03-packages.ps1
  install/windows/README.md
  install/windows/setup.Tests.ps1
  install/windows/setup.ps1
Due: none

fix: E2E Setup Test の macOS 失敗を修正し Ubuntu を除外
  .github/workflows/e2e-setup-test.yml
  setup.sh
Due: none

fix: checkout repo before e2e setup
  .github/workflows/e2e-setup-test.yml
Due: none

fix: drop deprecated homebrew/bundle tap
  install/macos/02-brewfile.sh
  install/macos/Brewfile
Due: macos

refactor: inline brew package installs
  AGENTS.md
  install/macos/02-brewfile.bats
  install/macos/02-brewfile.sh
Due: macos

refactor: inline brew package list
  install/macos/02-brewfile.bats
  install/macos/02-brewfile.sh
Due: macos

refactor: 02-brewfile.sh を 02-brew-packages.sh にリネームし、テストとドキュメントを更新
  AGENTS.md
  README.md
  install/macos/02-brew-packages.bats
  install/macos/02-brew-packages.sh
  install/macos/02-brewfile.bats
  install/macos/setup.bats
  install/macos/setup.sh
Due: macos

fix: レビュー指摘を反映（テストのバグ修正・ドキュメント整合性改善）
  AGENTS.md
  README.md
  install/macos/02-brew-packages.bats
Due: macos

chore: format docs and workflows with prettier
  .github/actions/shellcheck-shfmt/action.yml
  .github/workflows/README.md
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
  .github/workflows/ci-windows.yml
  .github/workflows/e2e-setup-test.yml
  AGENTS.md
  Dockerfile
  README.md
  docker/windows-test/docker-compose.yml
  package.json
  scripts/lint-docs.sh
Due: none

Update README.md
  README.md
Due: none

docs: AGENTS.mdにDockerテスト環境(docker/)の構造と説明を追加
  AGENTS.md
Due: none

fix: remove deprecated homebrew bundle tap
  install/macos/02-brew-packages.sh
  install/macos/Brewfile
  install/macos/private/Brewfile
Due: macos

fix: scripts/install-tools.shでbatsをインストールする
  scripts/install-tools.sh
Due: none

feat: strengthen e2e setup test debug logging
  .github/workflows/e2e-setup-test.yml
Due: none

fix: PR #132 レビュー指摘の修正
  .github/workflows/e2e-setup-test.yml
Due: none

fix: install chezmoi into ~/.local/bin for CI PATH
  install/common/chezmoi.bats
  install/common/chezmoi.sh
Due: common

fix: improve chezmoi bin setup behavior and tests
  install/common/chezmoi.bats
  install/common/chezmoi.sh
Due: common

fix: make chezmoi install to ~/.local/bin, avoid PATH duplication, and keep DRY_RUN side-effect free
  install/common/chezmoi.bats
  install/common/chezmoi.sh
Due: common

fix(chezmoi): handle PATH/mkdir edge cases, keep DRY_RUN side-effect free, and resolve conflicts with main
  install/common/chezmoi.bats
Due: common

fix: address review feedback in chezmoi installer and bats tests
  install/common/chezmoi.bats
  install/common/chezmoi.sh
Due: common

fix(test): correct dry-run assertion in chezmoi bats
  install/common/chezmoi.bats
Due: common

fix(test): correct dry-run output assertion in chezmoi bats
  install/common/chezmoi.bats
  install/common/chezmoi.sh
Due: common

fix(chezmoi): avoid PATH-dependent mkdir in bin-dir setup
  install/common/chezmoi.sh
Due: common

fix(test): use explicit /bin/bash path in chezmoi bats tests
  install/common/chezmoi.bats
Due: common

fix: upload kcov cobertura report to codecov
  .github/workflows/ci-macos.yml
Due: none
