Repository yellow-seed/dotfiles: changes, and which Codecov flags are due for each by the changed paths.
All: macos, ubuntu, common

chore: sync configuration from yellow-seed/template
  .gitattributes
  .github/dependabot.yml
  .github/workflows/actionlint.yml
  .github/workflows/add-to-project.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  codecov.yml
  docs/GITHUB_RULESET_SETUP.md
Due: none

fix: preserve job name and make codecov informational
  .github/workflows/copilot-setup-steps.yml
  codecov.yml
Due: none

docs: add comprehensive badges from template
  README.md
Due: none

feat: add Ubuntu Docker TDD environment
  .github/skills/test-driven-development/SKILL.md
  README.md
  docker/ubuntu-test/Dockerfile
  docker/ubuntu-test/docker-compose.yml
  docker/ubuntu-test/lint-shell
Due: none

feat: macOS向けDocker TDD環境の構築
  .github/skills/test-driven-development/SKILL.md
  README.md
  docker/macos-test/Dockerfile
  docker/macos-test/docker-compose.yml
  docker/macos-test/lint-shell
Due: none

feat: add yellow-seed user bypass to branch protection ruleset
  .github/rulesets/branch-protection-ruleset.json
Due: none

refactor: CI/CDワークフローのOS別ファイル分離
  .github/skills/test-driven-development/SKILL.md
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  AGENTS.md
  README.md
Due: none

refactor: ShellCheckとshfmtをcomposite actionに統一
  .github/actions/shellcheck-shfmt/action.yml
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
Due: none

refactor: 重複するactionlintジョブを削除
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
Due: none

refactor: ディレクトリ構造の再編成（責務/OS階層化）
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
  .github/workflows/ci-windows.yml
  AGENTS.md
  install/common/chezmoi.bats
  install/macos/Brewfile
  install/macos/brew-dump-explicit.bats
  install/macos/brew-dump-explicit.sh
  install/macos/brew.bats
  install/macos/brew.sh
  install/macos/brewfile.bats
  install/macos/brewfile.sh
  install/ubuntu/common/.gitkeep
  install/windows/dev-tools.Tests.ps1
  install/windows/dev-tools.ps1
  install/windows/packages.Tests.ps1
  install/windows/packages.json
  install/windows/packages.ps1
  install/windows/run_unit_test.ps1
  install/windows/winget.Tests.ps1
  install/windows/winget.ps1
  tests/install/ubuntu/common/.gitkeep
Due: macos, ubuntu, common

fix: CI失敗の修正とディレクトリ構造の最適化
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
  AGENTS.md
  install/common/chezmoi.bats
  install/ubuntu/README.md
  install/windows/dev-tools.Tests.ps1
  install/windows/packages.Tests.ps1
  install/windows/winget.Tests.ps1
Due: common

fix: CI失敗の根本原因を修正
  .github/workflows/ci-windows.yml
  install/common/chezmoi.bats
  tests/files/shellcheck.bats
Due: common

fix: PSScriptAnalyzerのテストファイル除外を修正
  .github/workflows/ci-windows.yml
Due: none

perf: CI実行時間の最適化（bashcovカバレッジ範囲の削減）
  .github/workflows/ci-macos.yml
  .github/workflows/ci-ubuntu.yml
Due: none

fix: brew-dump-explicit.batsのスクリプトパスを修正
  install/macos/brew-dump-explicit.bats
Due: macos

chore: sync template settings and docs
  .github/scripts/tests/setup-branch-update-suggestion.bats
  .github/skills/design-plan/REFERENCE.md
  .github/skills/design-plan/SKILL.md
  .github/skills/design-plan/resources/api_design_desc.md
  .github/skills/design-plan/resources/cli_design_desc.md
  .github/skills/design-plan/resources/infrastructure_design_desc.md
  .github/skills/design-plan/resources/mobile_design_desc.md
  .github/skills/design-plan/resources/ui_design_desc.md
  .github/skills/self-review/SKILL.md
  .github/workflows/auto-assign-pr.yml
  .github/workflows/ci.yml
  .github/workflows/setup-repository.yml
Due: none

Update ci-macos.yml
  .github/workflows/ci-macos.yml
Due: none

Update ci-ubuntu.yml
  .github/workflows/ci-ubuntu.yml
Due: none

Update ci-windows.yml
  .github/workflows/ci-windows.yml
Due: none

Delete ci.yml
  .github/workflows/ci.yml
Due: none

feat: restructure macos setup steps
  AGENTS.md
  README.md
  install/macos/01-brew.bats
  install/macos/01-brew.sh
  install/macos/02-brewfile.bats
  install/macos/02-brewfile.sh
  install/macos/03-profile.bats
  install/macos/03-profile.sh
  install/macos/setup.bats
  install/macos/setup.sh
  setup.sh
  tests/files/shellcheck.bats
Due: macos

fix: add dry-run to brew install script
  install/macos/01-brew.bats
  install/macos/01-brew.sh
Due: macos

fix: detect Homebrew outside PATH
  install/macos/01-brew.sh
Due: macos

chore: add timeout to macOS coverage step
  .github/workflows/ci-macos.yml
Due: none

fix(ci): speed up brew install in macOS CI
  .github/workflows/ci-macos.yml
Due: none

chore(ci): limit bashcov to fast macOS tests
  .github/workflows/ci-macos.yml
  install/macos/01-brew.bats
  install/macos/01-brew.sh
Due: macos

fix(ci): add DRY_RUN support to prevent timeout in macOS bats tests
  .github/workflows/ci-macos.yml
  install/macos/brew.bats
  install/macos/brew.sh
  install/macos/brewfile.bats
  install/macos/brewfile.sh
Due: macos

feat: restructure macOS install steps
  install/macos/01-brew.bats
  install/macos/01-brew.sh
  install/macos/02-brewfile.bats
  install/macos/02-brewfile.sh
  install/macos/03-profile.bats
  install/macos/03-profile.sh
  install/macos/brew.bats
  install/macos/brewfile.bats
  install/macos/setup.bats
  install/macos/setup.sh
  setup.sh
  tests/files/shellcheck.bats
Due: macos

fix: improve macos setup dry run
  install/macos/02-brewfile.sh
  install/macos/03-profile.sh
  install/macos/setup.bats
  install/macos/setup.sh
  setup.sh
Due: macos

perf: trim bashcov coverage scope
  .github/workflows/ci-macos.yml
Due: none

chore: build kcov in test images
  .github/workflows/ci-macos.yml
  AGENTS.md
  README.md
  docker/macos-test/Dockerfile
  docker/ubuntu-test/Dockerfile
Due: none

chore(ci): install kcov via brew
  .github/workflows/ci-macos.yml
Due: none

chore: streamline kcov install in test images
  docker/macos-test/Dockerfile
  docker/ubuntu-test/Dockerfile
Due: none

chore: simplify kcov install in test images
  docker/macos-test/Dockerfile
  docker/ubuntu-test/Dockerfile
Due: none

feat: refactor macos install steps
  install/macos/01-brew.bats
  install/macos/01-brew.sh
  install/macos/02-brewfile.bats
  install/macos/02-brewfile.sh
  install/macos/03-profile.bats
  install/macos/03-profile.sh
  install/macos/setup.bats
  install/macos/setup.sh
  setup.sh
  tests/files/shellcheck.bats
Due: macos

test: stabilize macos dry-run bats
  install/macos/01-brew.bats
  install/macos/01-brew.sh
  install/macos/03-profile.bats
  install/macos/setup.bats
Due: macos

test: simplify macos setup bats
  install/macos/setup.bats
Due: macos

feat: refactor macos install steps
  .github/workflows/ci-macos.yml
  AGENTS.md
  README.md
  install/macos/01-brew.bats
  install/macos/01-brew.sh
  install/macos/02-brewfile.bats
  install/macos/02-brewfile.sh
  install/macos/03-profile.bats
  install/macos/03-profile.sh
  install/macos/brew.bats
  install/macos/brewfile.bats
  install/macos/setup.bats
  install/macos/setup.sh
  setup.sh
  tests/files/shellcheck.bats
Due: macos

Path conditions:
  macos: any of: install/macos/, scripts/macos/, but not: home/**, tests/**, .github/**, **/*.md, setup.sh
  ubuntu: any of: install/ubuntu/, scripts/ubuntu/, but not: home/**, tests/**, .github/**, **/*.md, setup.sh
  common: any of: install/common/, scripts/run_unit_test_common.sh, but not: home/**, tests/**, .github/**, **/*.md, setup.sh
