Repository yellow-seed/dotfiles: changes, and which Codecov flags are due for each by the changed paths.
All: macos, ubuntu, common

fix: update Brewfile paths and add new packages for macOS setup
  README.md
  install/macos/common/Brewfile
Due: macos

fix: remove obsolete dot_Brewfile and its contents
  home/dot_Brewfile
Due: none

feat: add brew-dump-explicit script and corresponding tests
  scripts/macos/brew-dump-explicit.sh
  tests/scripts/macos/brew-dump-explicit.bats
Due: macos

feat: add comprehensive Brewfile for macOS setup with various packages and casks
  install/macos/private/Brewfile
Due: macos

feat: update Brewfile and brew-dump-explicit script to enhance package management and preserve comments
  install/macos/common/Brewfile
  scripts/macos/brew-dump-explicit.sh
  tests/scripts/macos/brew-dump-explicit.bats
Due: macos

feat: update Brewfile to streamline package management and add new casks and Go packages
  install/macos/private/Brewfile
Due: macos

feat: enhance test coverage by adding script tests to run_bats_suite and kcov execution
  scripts/run_unit_test_common.sh
Due: common

fix: correct conditional check for script execution in setup.sh
  setup.sh
Due: none

feat: refactor test execution scripts to simplify coverage handling and improve readability
  .github/workflows/test_bats.yml
  AGENTS.md
  scripts/macos/run_unit_test.sh
  scripts/run_unit_test_common.sh
  scripts/ubuntu/run_unit_test.sh
  tests/files/setup.bats
Due: macos, ubuntu, common

chore: remove deprecated Docker entries from Brewfiles and update test script for improved sourcing
  install/macos/common/Brewfile
  install/macos/private/Brewfile
  tests/scripts/macos/brew-dump-explicit.bats
Due: macos

feat: implement Phase 2 OS-specific initialization for macOS
  setup.sh
  tests/files/setup.bats
Due: none

feat: enhance macOS setup with profile detection and work Brewfile
  home/.chezmoi.toml.tmpl
  install/macos/common/Brewfile
  install/macos/work/Brewfile
  setup.sh
Due: macos

feat: implement CI workflows for testing and coverage reporting
  .github/.simplecov
  .github/workflows/ci.yml
  .github/workflows/e2e-setup-test.yml
  .github/workflows/shellcheck.yml
  .github/workflows/test_bats.yml
  .github/workflows/test_chezmoi_apply.yml
  codecov.yml
  scripts/macos/run_unit_test.sh
  scripts/run_tests.sh
  scripts/run_unit_test_common.sh
  scripts/ubuntu/run_unit_test.sh
  tests/files/shellcheck.bats
Due: macos, ubuntu, common

chore: update CI configuration to Ruby 3.4 and enhance coverage tools
  .github/workflows/ci.yml
Due: none

feat: enhance CI with ShellCheck and shfmt integration; remove obsolete ShellCheck config
  .github/workflows/ci.yml
  .shellcheckrc
  AGENTS.md
  README.md
Due: none

refactor: セットアップスクリプトとテストの可読性と一貫性を向上
  CLAUDE.md
  install/macos/common/brew.sh
  install/macos/common/brewfile.sh
  install/template.sh
  scripts/macos/brew-dump-explicit.sh
  setup.sh
  tests/files/common.bats
  tests/files/setup.bats
  tests/files/shellcheck.bats
  tests/files/templates.bats
  tests/install/common/chezmoi.bats
  tests/install/macos/common/brew.bats
  tests/install/macos/common/brewfile.bats
  tests/scripts/macos/brew-dump-explicit.bats
Due: macos

feat: update CI workflow name to include format linting
  .github/workflows/ci.yml
Due: none

docs: update README and config.toml to specify global usage for node and python, and add shfmt to configuration
  README.md
  home/dot_config/mise/config.toml
Due: none

fix: correct output redirection syntax in chezmoi installer download
  setup.sh
Due: none

Update install/macos/common/Brewfile
  install/macos/common/Brewfile
Due: macos

feat: update profile detection logic to use 'common' as default and enhance hostname-based auto-detection
  home/.chezmoi.toml.tmpl
  setup.sh
Due: none

style: format initialization function for macOS environment
  setup.sh
Due: none

feat: enhance macOS initialization to support profile detection and installation
  setup.sh
Due: none

fix: update architecture detection for Homebrew setup on macOS
  setup.sh
Due: none

fix: standardize indentation and formatting in sudo keepalive functions
  setup.sh
Due: none

feat: Add shfmt installation step and update documentation for formatting practices
  .github/workflows/copilot-setup-steps.yml
  AGENTS.md
  tests/install/macos/common/brewfile.bats
  tests/scripts/macos/brew-dump-explicit.bats
Due: none

feat: add winget installation and package management scripts for Windows
  install/windows/README.md
  install/windows/common/packages.json
  install/windows/common/packages.ps1
  install/windows/common/winget.ps1
Due: none

feat: Add GitHub CLI setup script and related configurations
  .claude/hooks/gh-setup.sh
  .claude/settings.json
  .claude/skills/code-review/SKILL.md
  .claude/skills/commit-message/SKILL.md
  .claude/skills/github-issue/SKILL.md
  .claude/skills/reviewing-security/SKILL.md
  .claude/skills/test-driven-development/SKILL.md
  .gitattributes
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/todo.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .simplecov
  AGENTS.md
Due: none

fix: Correct trap command syntax in gh setup script
  .claude/hooks/gh-setup.sh
Due: none

fix: Update script and workflow files to ensure proper quoting for GITHUB_PATH
  .claude/hooks/gh-setup.sh
  .github/workflows/chezmoi_dryrun_comment.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

delete: Remove Chezmoi Dry-Run Comment workflow file
  .github/workflows/chezmoi_dryrun_comment.yml
Due: none

fix: Add missing newline at end of gh-setup.sh
  .claude/hooks/gh-setup.sh
Due: none

feat: yellow-seed/templateからファイルを同期
  .claude/hooks/skills-setup.sh
  .claude/skills
  .claude/skills/test-driven-development/SKILL.md
  .github/rulesets/branch-protection-ruleset.json
  .github/rulesets/feature-branch-ruleset.json
  .github/scripts/setup-all.sh
  .github/scripts/setup-branch-auto-delete.sh
  .github/scripts/setup-branch-update-suggestion.sh
  .github/scripts/setup-github-project.sh
  .github/scripts/setup-labels.sh
  .github/scripts/setup-rulesets.sh
  .github/scripts/tests/setup-all.bats
  .github/scripts/tests/setup-branch-auto-delete.bats
  .github/scripts/tests/setup-github-project.bats
  .github/scripts/tests/setup-labels.bats
  .github/scripts/tests/setup-rulesets.bats
  .github/skills/code-review/SKILL.md
  .github/skills/commit-message/SKILL.md
  .github/skills/git-commit/SKILL.md
  .github/skills/github-issue/SKILL.md
  .github/skills/pull-request/SKILL.md
  .github/skills/reviewing-security/SKILL.md
  .github/skills/template-sync/SKILL.md
  .github/skills/test-driven-development/SKILL.md
Due: none

fix: shfmtチェックを.shファイルのみに限定
  .github/workflows/ci.yml
Due: none

feat: add Windows development environment and testing infrastructure
  .github/workflows/ci.yml
  README.md
  install/windows/README.md
  install/windows/common/dev-tools.ps1
  scripts/windows/run_unit_test.ps1
  tests/install/windows/common/dev-tools.Tests.ps1
  tests/install/windows/common/packages.Tests.ps1
  tests/install/windows/common/winget.Tests.ps1
Due: none

fix: resolve Pester test failures and add Docker test environment
  .github/skills/test-driven-development/SKILL.md
  docker-compose.yml
  docker/windows-test/Dockerfile
  tests/install/windows/common/packages.Tests.ps1
Due: none

fix: skip Windows-specific tests on Linux/macOS platforms
  docker-compose.yml
  tests/install/windows/common/dev-tools.Tests.ps1
  tests/install/windows/common/winget.Tests.ps1
Due: none

fix: suppress PSScriptAnalyzer warnings with proper justifications
  install/windows/common/dev-tools.ps1
  install/windows/common/packages.ps1
  install/windows/common/winget.ps1
Due: none

docs: clarify Windows-specific PSScriptAnalyzer verification in TDD guide
  .github/skills/test-driven-development/SKILL.md
Due: none

feat: add Docker Compose configuration for Windows testing environment
  compose.yml
Due: none

Path conditions:
  macos: any of: install/macos/, scripts/macos/, but not: home/**, tests/**, .github/**, **/*.md, setup.sh
  ubuntu: any of: install/ubuntu/, scripts/ubuntu/, but not: home/**, tests/**, .github/**, **/*.md, setup.sh
  common: any of: install/common/, scripts/run_unit_test_common.sh, but not: home/**, tests/**, .github/**, **/*.md, setup.sh
