Repository yellow-seed/dotfiles: changes, and which Codecov flags are due for each by the changed paths.
All: macos, ubuntu, common

codecov.yml:

# Codecov configuration file
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
        base: auto
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto

  # Define coverage measurement targets
  # We focus on shell scripts in install/ and scripts/ directories
  precision: 2
  round: down
  range: "50...100"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore patterns - exclude files that don't need coverage
ignore:
  - "home/**"           # Configuration files
  - "tests/**"          # Test files themselves
  - ".github/**"        # GitHub Actions workflows
  - "**/*.md"           # Documentation files
  - "setup.sh"          # Entry point script

# Flags for different environments
flags:
  macos:
    paths:
      - install/macos/
      - scripts/macos/
  ubuntu:
    paths:
      - install/ubuntu/
      - scripts/ubuntu/
  common:
    paths:
      - install/common/
      - scripts/run_unit_test_common.sh

fix: avoid kcov failure with bats internals
  .github/workflows/ci-macos.yml
Due: none

fix: use homebrew bash for kcov on macos ci
  .github/workflows/ci-macos.yml
Due: none

fix: address valid review feedback for macOS coverage workflow
  .github/workflows/ci-macos.yml
Due: none

fix: enforce dry-run for install scripts in macOS coverage step
  .github/workflows/ci-macos.yml
Due: none

fix: setup.sh をリポジトリ未クローン状態でも実行可能にする
  setup.sh
  tests/files/setup.bats
Due: none

test: ブートストラップの機能テストとE2Eジョブを追加
  .github/workflows/e2e-setup-test.yml
  tests/files/setup.bats
Due: none

refactor: bootstrap clone先を一時ディレクトリからchezmoiソースディレクトリに変更
  setup.sh
  tests/files/setup.bats
Due: none

fix: レビュー指摘を対応
  .github/workflows/e2e-setup-test.yml
  setup.sh
  tests/files/setup.bats
Due: none

docs: クイックスタートのインストールコマンドをREADMEに追加
  README.md
Due: none

feat: brewパッケージ再実行時の未導入のみインストール対応
  install/macos/02-brew-packages.bats
  install/macos/02-brew-packages.sh
Due: macos

fix: brew状態チェックの一覧取得を1回化してテスト負荷を軽減
  install/macos/02-brew-packages.bats
  install/macos/02-brew-packages.sh
Due: macos

chore: install-toolsでbats関連依存の導入経路を拡張
  scripts/install-tools.sh
Due: none

test: brewスタブの重複を整理
  install/macos/02-brew-packages.bats
Due: macos

fix(ci): macOSテストをcoverage計測から分離
  .github/workflows/ci-macos.yml
Due: none

fix(ci): BatsテストからDRY_RUNを除外
  .github/workflows/ci-macos.yml
Due: none

fix(ci): macOS coverage対象を絞る
  .github/workflows/ci-macos.yml
Due: none

chore(ci): coverage収集を一時スキップ
  .github/workflows/ci-macos.yml
Due: none

feat: macOSパッケージスクリプトにmas経由のRunCat導入を追加
  install/macos/02-brew-packages.bats
  install/macos/02-brew-packages.sh
Due: macos

fix: masをHomebrew formulaとして導入対象に含める
  install/macos/02-brew-packages.bats
  install/macos/02-brew-packages.sh
Due: macos

fix: Linux向けbats導入をフォールバック付きで安定化
  README.md
  install/common/chezmoi.bats
  install/common/chezmoi.sh
  install/macos/03-profile.bats
  install/macos/03-profile.sh
  install/macos/setup.bats
  install/macos/setup.sh
  scripts/install-tools.sh
  setup.sh
  tests/files/setup.bats
Due: macos, common

refactor: nix-darwin構成をmacos/nix配下へ移動
  README.md
  macos/nix/darwin/default.nix
  macos/nix/flake.nix
  tests/files/nix-darwin.bats
Due: none

fix: nix-darwinレビュー指摘を反映
  README.md
  macos/nix/darwin/default.nix
  macos/nix/flake.nix
  tests/files/nix-darwin.bats
Due: none

chore: Homebrew管理対象からPythonとgo-swaggerを削除
  install/macos/02-brew-packages.bats
  install/macos/02-brew-packages.sh
  install/macos/Brewfile
  install/macos/private/Brewfile
Due: macos

feat: profile別パッケージをスクリプト管理へ移行
  .mise.toml
  install/macos/02-brew-packages.sh
  install/macos/03-profile.bats
  install/macos/03-profile.sh
  install/macos/extension/brew-packages.sh
  install/macos/private/Brewfile
  install/macos/private/brew-packages.sh
  install/macos/work/Brewfile
  install/macos/work/brew-packages.sh
Due: macos

feat: Phase1スキルを追加（chezmoi-sync / brew-add / brew-remove）
  .github/skills/brew-add/skill.md
  .github/skills/brew-remove/skill.md
  .github/skills/chezmoi-sync/skill.md
Due: none

docs: skillsへ移行した手順をAGENTS.md / README.mdから削除
  AGENTS.md
  README.md
Due: none

docs: エージェント指針とTDD Skillを整理
  .github/skills/test-driven-development/SKILL.md
  .github/skills/test-driven-development/references/macos.md
  .github/skills/test-driven-development/references/ubuntu.md
  .github/skills/test-driven-development/references/windows.md
  AGENTS.md
Due: none

fix: Prettierをmise管理へ移行
  .github/workflows/doc-lint.yml
  .github/workflows/verify-codex-setup.yml
  .mise.toml
  AGENTS.md
  package-lock.json
  package.json
  scripts/install-tools.sh
  scripts/lint-docs.sh
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

fix: Skillファイル名を大文字に統一
  .github/skills/brew-add/SKILL.md
  .github/skills/brew-remove/SKILL.md
  .github/skills/chezmoi-sync/SKILL.md
Due: none

feat: nix-darwinでmacOS設定を管理
  README.md
  docker/macos-test/Dockerfile
  install/macos/nix/darwin/default.nix
  install/macos/nix/flake.nix
  macos/nix/darwin/default.nix
  tests/files/nix-darwin.bats
Due: macos

chore: private環境にopencodeを追加
  home/dot_config/mise/config.toml
  install/macos/03-profile.bats
  install/macos/extension/brew-packages.sh
  install/macos/private/brew-packages.sh
  install/macos/work/brew-packages.sh
  tests/files/mise.bats
Due: macos

chore: private環境にcodex-appを追加
  install/macos/03-profile.bats
  install/macos/private/brew-packages.sh
Due: macos

feat: nix-darwin セットアップステップを追加
  install/macos/04-nix.bats
  install/macos/04-nix.sh
Due: macos

feat: macOS setup に nix-darwin ステップを Step 4 として組み込む
  install/macos/setup.bats
  install/macos/setup.sh
Due: macos

docs: nix-darwin セクションを setup.sh 経由の導線に更新
  README.md
Due: none

feat: .agents と .codex にスキルセットアップを追加
  .agents/skills/brew-add/SKILL.md
  .agents/skills/brew-remove/SKILL.md
  .agents/skills/chezmoi-sync/SKILL.md
  .agents/skills/code-review/SKILL.md
  .agents/skills/commit-message/SKILL.md
  .agents/skills/design-plan/REFERENCE.md
  .agents/skills/design-plan/SKILL.md
  .agents/skills/design-plan/resources/api_design_desc.md
  .agents/skills/design-plan/resources/cli_design_desc.md
  .agents/skills/design-plan/resources/infrastructure_design_desc.md
  .agents/skills/design-plan/resources/mobile_design_desc.md
  .agents/skills/design-plan/resources/ui_design_desc.md
  .agents/skills/git-commit/SKILL.md
  .agents/skills/github-issue/SKILL.md
  .agents/skills/pull-request/SKILL.md
  .agents/skills/reviewing-security/SKILL.md
  .agents/skills/self-review/SKILL.md
  .agents/skills/sync-codex/SKILL.md
  .agents/skills/template-sync/SKILL.md
  .agents/skills/test-driven-development/SKILL.md
  .agents/skills/test-driven-development/references/macos.md
  .agents/skills/test-driven-development/references/ubuntu.md
  .agents/skills/test-driven-development/references/windows.md
  .codex/hooks.json
  .codex/hooks/skills-setup.sh
Due: none

fix: nix-darwin setup のレビュー指摘に対応
  .github/workflows/ci-macos.yml
  install/macos/04-nix.bats
  install/macos/04-nix.sh
  install/macos/nix/flake.lock
  tests/files/nix-darwin.bats
Due: macos

fix: nix-darwin の system.primaryUser を設定してビルドエラーを修正
  install/macos/nix/darwin/default.nix
Due: macos
